In [8]:
 #membership operator 
 str = "message"
 print('c' in str)
 print('s'in str )
 print('z'not in str)

False
True
True

In [12]:
#identity operator
num = 10
a = 20 
print(num is a)
print(num is not a)
print(a is num)
print(a is not num)

False
True
False
True

In [15]:
#accept marks of 3 subjects calculate their average
maths = int(input("enter maths marks"))
sci = int(input("enter marks of sci"))
eng = int(input("enter marks of eng"))
avg = (maths+sci+eng)/3
print(avg)

enter maths marks40
enter marks of sci30
enter marks of eng40
36.666666666666664

In [20]:
#accept basic salary of an employee and calculate his gross salary if he gets 2% home allowance and 3% deduction 
sal = int(input("enter the basic salary"))
gross = sal + (sal*0.05)
print("the gross salary is : ", gross)

enter the basic salary10000
the gross salary is :  10500.0

In [28]:
#accept lengh and breadth of a rectangle and calculate its area perimeter
l = int(input("enter the length "))
b = int(input("enter the breadth "))
area = l*b
peri = 2*(l+b)
print("area is :  " , area)
print("perimeter is :  " , peri)

enter the length 10
enter the breadth 4
area is :   40
perimeter is :   28

In [29]:
#swap values of 2 variables using third variables and without using third variables 
a = int(input("enter the first variable "))
b = int(input("enter the second variable "))
print("before swapping :",a,b)
a = a+b
b = a-b
a = a-b
print("after swapping :",a,b)

enter the first variable 2
enter the second variable 3
before swapping : 2 3
after swapping : 3 2

In [7]:
#simple data type 
num = 10
print("type =" , type(num))
no = 10.5
print("type = ", type(no))
k = 5+2j 
print("type = ", type(k))
s = True
print("type = ", type(s))

type = <class 'int'>
type =  <class 'float'>
type =  <class 'complex'>
type =  <class 'bool'>

In [30]:
#sequence data type
val = 'welcome to pyhton'

#lenght 
print(len (val))

#indexing
print(val[0])
print(val[1])
print(val[2])

#slicing 
print(val[0:7])
print(val[8:11])
print(val[11:])
print(val[:])
print(val[-17:-10])
print(val[-6:])

#repeatation 
print(val*2)

#concatenation
print(val + " sanjana")

17
w
e
l
welcome
to
pyhton
welcome to pyhton
welcome
pyhton
welcome to pyhtonwelcome to pyhton
welcome to pyhton sanjana

In [10]:
#list 
nums = [10,20,30,40,50]
print(nums)

#append
nums.append(60)
print(nums)

#insert - inserts number "position , number to be added"
nums.insert(2,25)
print(nums)

#remove 
nums.remove(25)
print(nums)

#count - counts how many times the number occured in the list 
cnt = nums.count(10)
print(cnt)

#reverse - it reverse the list 
nums.reverse()
print(nums)

#max - min
print("max no. in list  ",max (nums))
print("min no. in list  ",min (nums))

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]
[10, 20, 25, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]
1
[60, 50, 40, 30, 20, 10]
max no. in list   60
min no. in list   10

In [32]:
#dictionary - key value pair, unordered asta , represented in "{}" 

dict = {"name": "sanju", "age": "22", "no.":"7775934937"}
print(type(dict))
print(dict)

#printing using key 
print(dict["name"])
print(dict["age"])
print(dict["no."])

#length
print(len(dict))

#update
dict["name"]= "chingi"
print(dict["name"])

#deleting dictionary
#del dict["name"]
#print(dict)
#dict.clear()
#print(dict)

#dictinary functions
print(dict.keys())
print(dict.values())
print(dict.items())
print(dict.get("name"))

<class 'dict'>
{'name': 'sanju', 'age': '22', 'no.': '7775934937'}
sanju
22
7775934937
3
chingi
dict_keys(['name', 'age', 'no.'])
dict_values(['chingi', '22', '7775934937'])
dict_items([('name', 'chingi'), ('age', '22'), ('no.', '7775934937')])
chingi

In [8]:
#sets
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

#union
print("union = " , set1|set2)

#intersection
print("intersection =" , set1&set2)

#difference
print("difference = ", set1-set2)
print("difference = ", set2-set1)

union =  {70, 40, 10, 50, 20, 60, 30}
intersection = {40, 50, 30}
difference =  {10, 20}
difference =  {60, 70}

In [20]:
#example 
#1 create a single variable to store details of 5 students where each students has following details-name, email, address(city,state,pin),age
stud1 = {"name":"sanjana", "email":"kakad@gmail.com","address":"[city - nashik,state - maharashtra,pin - 422011]","age":"21"}   
stud2 = {"name":"divya", "email":"kakad2@gmail.com","address":"[city - thane,state - maharashtra,pin - 422013]","age":"22"}  
stud3 = {"name":"adya", "email":"kakad3@gmail.com","address":"[city - gorgaon,state - maharashtra,pin - 422014]","age":"23"}   
stud4 = {"name":"abhi", "email":"kakad4@gmail.com","address":"[city - hydrabad,state - maharashtra,pin - 422015]","age":"24"}   
stud5 = {"name":"nana", "email":"kakad5@gmail.com","address":"[city - nashik,state - maharashtra,pin - 422016]","age":"25"}   

details =[stud1,
          stud2,
          stud3,
          stud4,
          stud5]
print(details)

[{'name': 'sanjana', 'email': 'kakad@gmail.com', 'address': '[city - nashik,state - maharashtra,pin - 422011]', 'age': '21'}, {'name': 'divya', 'email': 'kakad2@gmail.com', 'address': '[city - thane,state - maharashtra,pin - 422013]', 'age': '22'}, {'name': 'adya', 'email': 'kakad3@gmail.com', 'address': '[city - gorgaon,state - maharashtra,pin - 422014]', 'age': '23'}, {'name': 'abhi', 'email': 'kakad4@gmail.com', 'address': '[city - hydrabad,state - maharashtra,pin - 422015]', 'age': '24'}, {'name': 'nana', 'email': 'kakad5@gmail.com', 'address': '[city - nashik,state - maharashtra,pin - 422016]', 'age': '25'}]

In [12]:
#control structures
x=int(input("enter the no."))

#IF CONDITION
#check wheather no is greater than 100
if x>100:
    print("entered no. is greater than 100")
if x==100:
    print("no. is equal to 100")
else:
    if x==100:
        print("no. is equal to 100")
    else:    
        print("no. is less")
#check wheather no is positive or negative
if x>0:
    print("no. is +ve")
else:
    print("the no. is -ve ")
    
 #check wheather no. is even or odd
if (x%2)==0:
    print("no. is even ")
else: 
    print("no. is odd")

enter the no.11
no. is less
no. is +ve
no. is odd

In [25]:
#1 accept 2 nos and display largest of them 
x=int(input("enter the first no."))
y=int(input("enter the second no."))
if x>y:
    print("biggest no. = ",x)
else :
    print("biggest no. = ",y)
print("\n")    
#2 accept 3 nos and display smallest of them
a=int(input("enter the 3rd no."))
if x<y<a:
    print("smallest no. = ",x)
else:
    if y<a:
        print("smallest no. = ",y)
    else :
        print("smallest no. = ",a)

enter the first no.3
enter the second no.2
biggest no. =  3


enter the 3rd no.4
smallest no. =  2

In [8]:
#accept salary of a person and display his post as follows
#Executive- more than 80000 or Supervisor 60000 to 80000 or clerk 30000 to 60000 or peon below 30000

sal = int(input("enter the salary"))
if sal>80000 :
    print("hi executive")
elif sal>60000:
    print("hi supervisor")
elif sal>30000:
    print("hi clerk")
else :
    print("hi peon")

enter the salary1500
hi peon

In [7]:
#store data of 5 students do following tasks
 
student = [ 
            
    {
        "roll_no": 101,
        "name": "sanjana",
        "email":"kakad@123",
        "marks":26,
    },
    
    {
        "roll_no": 102,
        "name": "divya",
        "email":"kakad@123",
        "marks":30,
    },
    
    {
        "roll_no": 103,
        "name": "devyani",
        "email" : "kakad@123",
        "marks" :36,
    },
    
    
]

print(student)

[{'roll_no': 101, 'name': 'sanjana', 'email': 'kakad@123', 'marks': 26}, {'roll_no': 102, 'name': 'divya', 'email': 'kakad@123', 'marks': 30}, {'roll_no': 103, 'name': 'devyani', 'email': 'kakad@123', 'marks': 36}]

In [10]:
#functions
#func definition - without parameter 

def add():
    num1=10
    num2=20
    sum=num1+num2
    print("addition " , sum )

    
#passing the parameter - function with parameter     
def mul(num1,num2):
    mul=num1*num2
    print("multiplication " , mul )

#fucntion definition -returning the value 
def div(num1,num2):
    div=num1/num2
    return div
    
#passing the parameter - function with default parameter     
def mul(num1,num2=1):
    mul=num1*num2
    print("multiplication " , mul )    
    
 
#arbetrary parameters

def numlist(*nums):
    for num in nums:
        print(num)
        
numlist(10,12,13,14,15)     



#DYNAMIC function / LAMBDA function  / ANONYMOUS
double= lambda x : x*2         #lamda and anonymous is the key word to create functions 

#def anonymous(x):
 #   return (x*2)

def calculate(num1,num2,perform):    
    perform(num1,num2)
 
#func call

add()
mul(10)
d=div(15,3)
print("division ", d)
print("division ", div(15,3))
print (double(5))
kg=print(double(16)) #we can assign value of function variable to another variable 
calculate(10,20,mul)

10
12
13
14
15
addition  30
multiplication  10
division  5.0
division  5.0
10
32
multiplication  200

In [5]:
#map function = map(function,list/data)   it is used to give series of values to function!!!

cube = lambda x: x*x*x
nums =[1,2,3,4,5]

allcube= list(map(cube,nums))
print(allcube)


add= lambda x,y :x+y

x=[1,2,3,4,5] 
y=[10,20,30,40,50]
allsum=list(map(add,x,y))
print(allsum)




#filter function
nums = [1,2,3,4,5,6,7,8,9,10]


def iseven(n):
    if n%2==0:
        return True
    return False
alleven = list(filter(iseven,nums))
print(alleven)

[1, 8, 27, 64, 125]
[11, 22, 33, 44, 55]
[2, 4, 6, 8, 10]

In [ ]:
#module function
 def add(x,y):
    print("add", x+y)

def sub(x,y):
    print("sub", x-y)

def mul(x,y):
    print("mul", x*y)

def div(x,y):
    print("div", x/y)


add(10,20)
sub(20,10)
mul(10,15)
divide(50,10)

In [10]:
#oops concept 
class person:
    age=20
    name="sanjana"
    def hobby(self):
        print("learning python")
        
p1=person();
print(p1.age)
p1.hobby()

20
learning python

In [12]:
#area of rectangle using "oops"
class rec:
    def accept(self):
        self.len=int(input("enter the length of rectangle"))
        self.brd=int(input("enter the breath"))
    def getarea(self):
        print(self.len*self.brd)
        
        
r1=rec();
r1.accept();
r1.getarea();
r2=rec();
r2.accept();
r2.getarea();

enter the length of rectangle10
enter the breath20
200
enter the length of rectangle30
enter the breath10
300

In [55]:
#define a class student accept roll no. , name , class as its data member . Create 3 students and accept 
#and display their details.

class student:
    def accept(self, roll, name,std):
        self.rollno=roll
        self.name=name
        self.standard=std
    def display(self):
        print("details are :")
    '''
    def display(self):
        print("name is ",self.name)
        print("rollno is ",self.rollno)
        print("standard is ",self.standard)
    '''   
s1=student();
s2=student();
s3=student();
s1.accept("1","sanj","4th")
s1.display();
print(s1.rollno ,s1.name,s1.standard)
s2.accept("2","divya","5th")
print(s2.rollno , s2.name, s2.standard)
s3.accept("3","pooja","6th")
print(s3.rollno , s3.name, s3.standard)

details are :
1 sanj 4th
2 divya 5th
3 pooja 6th

In [46]:
#create a bank account having acc_no,balance,name and perform display details,deposite and withdraw functions

class acc:
    def detail(self,x,y,z):
        self.name=x
        self.acc_no=y
        self.bal=z
    def display(self):
        print("the name is ",self.name)
        print("the acc no. is ",self.acc_no)
        print("the balance is ",self.bal)   
    def depo(self,z):
        r=int(self.bal) + int(z)
        print("the final amount is ",r)
    def withd(self,b):
        print("the final amount is ",int(self.bal)-int(b))  
        
per1=acc();
per1.detail("sanju","0000002","2000");
per1.display();
c=int(input("type 1 to deposite and 2 to withdraw "))
if c==1:
    per1.depo("1000");
elif c==2:
    per1.withd("1000");
else :
    print("session ended!!!!")

the name is  sanju
the acc no. is  0000002
the balance is  2000
type 1 to deposite and 2 to withdraw 2
the final amount is  1000

In [ ]:
#define a class product with sell cost and purchase cost as its data members. Accept the details of a product and 
#check wheather it is in loss or profit.